<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LOG_IGNORE_FILES</key>
	<array>
		<string>MotionOrientation</string>
	</array>
	<key>LOG_AFNETWORKING_LEVEL</key>
	<integer>1</integer>
	<key>LOG_RECEIVER_ADDRESS</key>
	<string></string>
	<key>LOG_TO_ONE_FILE</key>
	<false/>
	<key>LOG_TO_CONSOLE</key>
	<true/>
	<key>LOG_LEVEL</key>
	<integer>0</integer>
</dict>
</plist>
